body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.bground {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    height: 100%;

}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    height: 68px;
}

form textarea {
    width: 100%;
    height: 128px;
}

.text-control {
    margin: 0;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    width: 100%;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData .error,
.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

.modal-confirmation {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.modal-confirmation h2 {
    margin-bottom: 20px;
}

.modal-confirmation .btn-close {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-confirmation-text {
    font-size: 36px;
    font-weight: 400;
    line-height: 51.34px;
    text-align: center;

}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header-text h1 {
    color: #D3573C;
    font-size: 2.25rem;
    margin: 0px;
}

.photograph-header-text h2 {
    color: #901C1C;
} 

.photograph-header-text h3 {
    color: #525252;
}

.photograph-header img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.photographer-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 40px;

}

.media-item {
    padding: 10px 25px 10px 25px;
    max-width: 350px;

}

.media-item img, .media-item video {
    object-fit: cover;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 20px;


}

.likes-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.likes-count {
    margin-right: 5px;
    font-weight: bold;
}

.fa-heart {
    cursor: pointer;
}

.totalLikesPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: fixed;
    bottom: 0;
    right: 1rem;
    background-color: #DB8876;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    width: 350px;
}

.totalLikes, .price {
    margin-right: 1rem;
}

.sorting-section {
    display: flex;
    gap : 1rem;
    align-items: center;
    margin: 1rem 0;
    padding-left: 4rem;
}

.sort-by {
    font-size: 20px;
    font-weight: bold;
}

/* Dropdown Button Styles */
.dropdown-btn {
    background-color: #901C1C; /* Red background */
    color: white; /* White text */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 8rem;
}

/* Icon Rotation */
.dropdown-icon {
    transition: transform 0.3s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

/* Listbox Styles */
.dropdown {
    display: flex;
    flex-direction: column;
    align-content: flex-start; /* Align content to the left */
    justify-content: flex-start;
    background-color: #901C1C; /* Red background */
    color: white; /* White text */
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    width: 8rem;
    z-index: 1000;
}

.dropdown[hidden] {
    display: none;
}

.dropdown li {
    padding: 10px;
    border-bottom: 1px solid white; /* White border between options */
    cursor: pointer;
    width: 75%; /* Reduce the width of the border */
    margin: 5px; /* Align items to the left */

}

.dropdown li:last-child {
    border-bottom: none; /* Remove border from the last option */
}

.dropdown li a {
    color: white; /* White text */
    text-decoration: none;
}