/* General Styles */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* Modal Styles */
#contact_modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.bground {
    border-radius: 5px;
    background-color: #DB8876;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    height: 100%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.close_modal {
    height: 15%;
    width: 30%;
    position: absolute;
}

.close_modal img {
    position: absolute;
    top: 5px;
    right: 0;
}

/* Form Styles */
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    padding: 8px;
}

form input {
    height: 68px;
}

form textarea {
    height: 128px;
}

.text-control {
    margin: 0;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData .error,
.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

/* Modal Header Text Styles */
.modal-header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 40px;
    font-weight: normal;
    z-index: 2;
}

.modal-header-text p {
    margin-top: -5rem;
    padding: 20px 0;
}

/* Photographer Header Styles */
.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header-text h1 {
    color: #D3573C;
    font-size: 2.25rem;
    margin: 0;
}

.photograph-header-text h2 {
    color: #901C1C;
}

.photograph-header-text h3 {
    color: #525252;
}

.photograph-header img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* Contact Button Styles */
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Section Styles */
.photographer-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 40px;
}

.media-item {
    max-width: 350px;
    place-self: center;
}

.media-item img,
.media-item video {
    object-fit: cover;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 20px;
}

.likes-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.likes-count {
    margin-right: 5px;
    font-weight: bold;
}

.fa-heart {
    cursor: pointer;
}

/* Total Likes and Price Styles */
.totalLikesPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: fixed;
    bottom: 0;
    right: 1rem;
    background-color: #DB8876;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    width: 350px;
}

.totalLikes,
.price {
    margin-right: 1rem;
}

/* Sorting Section Styles */
.sorting-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
    padding-left: 4rem;
}

.sort-by {
    font-size: 20px;
    font-weight: bold;
}

/* Dropdown Button Styles */
.dropdown-btn {
    background-color: #901C1C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 8rem;
}

/* Icon Rotation */
.dropdown-icon {
    transition: transform 0.3s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

/* Listbox Styles */
.dropdown {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: #901C1C;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    width: 8rem;
    z-index: 1000;
}

.dropdown[hidden] {
    display: none;
}

.dropdown li {
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
    width: 75%;
    margin: 5px;
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li a {
    color: white;
    text-decoration: none;
}